In [17]:
import pandas as pd 
import os

# Python as Fast as possible

python is omnipotent and easy


why you learn python?
* Web dev
* Data science
* Machine learning

## Data Types

### Int
as long it doesn't has a decimal point is an int as:
-21346
235423

### Float
it does has a decimal point as:
213.0
-9.7

### String
a sequence of characters, has the quotations marks as:
'hello'
"world"
### Bool
True and False

## Print function
it prints B)

`print(sth)`

#### you can print multiple elements with commas

`print(sth_1, sth_2, ... , sth_n)`

#### when it comes to the end, you can set one like a line skip

`print(sth, end='\n')`

*tho this is the default behaviour*

In [4]:
print('sth', end='|')
print('yes')

sth|yes

## Variables

it goes like this

`variable_name = data`

#### you can store other variables an functions in a variable

`snake_case` is the naming convention on python

## Input

`variable = input('str')`

In [6]:
name = input('gimme a name :')
age = input('gimme age:')
print('Hello', name, "you're", age, 'years old')

gimme a name :abc
gimme age:123
Hello abc you're 123 years old

## Arithmetic operators

#### operations in order
`x**y` exp

`x*y` mul

`x/y` div

`x+y` sum

`x-y` sub

`x%y` mod

`int()` gives an integer

`float()` gives a float 

`x//y` is `int(x/y)`

In [17]:
x = 11
y = 3.5

result = x // y

print(result)

3.0

In [18]:
num = input('Number: ')
print(int(num)+ 5)

Number: 3
8

## String methods
`type()` - gives the type


`str.capitalize()` - converts to capital

`str.upper()` - converts to uppercase

`str.lower()` - converts to lowecase

`str.count('substr')` - counts the recurrences of a substring within on a string 

#### you can also add two strings and multiply it with an integer

In [21]:
hello = 'Hello world'
print(hello.upper().count('LL'))

1

In [23]:
idgaf = "fucks "

print(idgaf * 7)

fucks fucks fucks fucks fucks fucks fucks